//! **************************************************************************
// Written by: Map P.68d on Wed Nov 16 14:15:42 2016
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "JA<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "JA<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "JA<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "JA<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "JA<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "JA<5>" LOCATE = SITE "N9" LEVEL 1;
COMP "JA<6>" LOCATE = SITE "U11" LEVEL 1;
COMP "JA<7>" LOCATE = SITE "V11" LEVEL 1;
SCHEMATIC END;

